[Unit]
Description=Deluge Bittorrent Client Daemon
Documentation=man:deluged
Requires=gmedia.service
After=network-online.target gmedia.service
RequiresMountsFor=/gmedia
RequiresMountsFor=/data2

[Service]
User=vpn
Group=felix
UMask=0002
Restart=on-failure
RestartSec=5

ExecStart=/usr/bin/deluged -d -l /var/log/deluge/daemon.log -L info

Restart=on-failure

# Time to wait before forcefully stopped.
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
