[Unit]
Description = /gmedia MergerFS mount
Requires=rclone.service
After=rclone.service
RequiresMountsFor=/data

[Mount]
What = /local:/GD
Where = /gmedia
Type = fuse.mergerfs
Options = async_read=false,use_ino,allow_other,func.getattr=newest,category.action=all,category.create=ff,cache.files=partial,dropcacheonclose=true

[Install]
WantedBy=multi-user.target
