[Unit]
Description=Jackett Daemon
After=network.target

[Service]
WorkingDirectory=/opt/jackett
User=felix
Group=felix
ExecStart=/opt/jackett/jackett -d /opt/jackettdata
Restart=always
RestartSec=2
Type=simple
TimeoutStopSec=5
SyslogIdentifier=jackett

[Install]
WantedBy=multi-user.target
