[Unit]
Description=Ombi
Wants=network-online.target
After=network-online.target

[Service]
WorkingDirectory=/opt/Ombi
ExecStart=/opt/Ombi/Ombi --storage /opt/OmbiData/
Type=simple
User=felix
Group=felix
TimeoutStopSec=30
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
