[Unit]
Description=qBittorrent Client
Requires=gmedia.service
Wants=gmedia.service
After=network.target gmedia.service

[Service]
UMask=0002
WorkingDirectory=/home/vpn
ExecStart=/usr/sbin/runuser -l vpn -c '/usr/local/bin/qbittorrent-nox --profile=/opt/qbit'
ExecStop=/usr/sbin/runuser -l felix -c /home/felix/scripts/qbit_shutdown
KillMode=none
Restart=on-failure

[Install]
WantedBy=default.target
