[Unit]
Description=Sonarr Daemon
Requires=gmedia.service
Wants=network-online.target
After=deluged.service nzbget.service

[Service]
User=felix
Group=felix

Type=simple
ExecStart=/usr/bin/mono /opt/Sonarr/Sonarr.exe --nobrowser --data=/opt/sonarrdata
TimeoutStopSec=20
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
