[Unit]
Description=Tautulli - Stats for Plex Media Server usage

[Service]
User=felix
Group=felix
Type=simple
ExecStart=/usr/bin/python2 /opt/Tautulli/PlexPy.py --nolaunch --config /opt/Tautulli/config.ini --datadir /opt/Tautulli

[Install]
WantedBy=default.target
