[Unit]
Description=OpenVPN Robust And Highly Flexible Tunneling Application On <server>
Wants=network-online.target
After=network-online.target

[Service]
Type=forking
PIDFile=/run/openvpn-server.pid
ExecStart=/usr/sbin/openvpn --daemon --writepid /run/openvpn-server.pid --cd /etc/openvpn/ --config openvpn.conf --log-append /var/log/openvpn.log
Restart=on-failure

[Install]
WantedBy=multi-user.target
